
@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Satisfy&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    scroll-behavior: smooth;
    text-decoration: none;

}

/*===================
    Variable
====================*/

:root{
    --color1:#222;
    --color2:black;
}



/*===================
    Title
====================*/

.title{
    display: block;
    margin: 40px auto;
    text-align: center;
    font-size: 50px;
    font-family: 'Satisfy', cursive;
}

/*===================
    Scroll
====================*/

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: black;
}

/*===================
    Loader
====================*/

.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #f3f1f1;
}

.loading{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    border-left: 10px solid #ffffff;
    border-right: 10px solid #ffffff;
    transition: all 0.5s;
    animation: loading 5s linear infinite;
    
}
.loading img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

@keyframes loading{
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}

}



/*===================
    Pc header
====================*/

.Pheader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: var(--color2);
    color: white;
    z-index: 3;
}
.Pheader div a{
    color: white;
    margin: 10px;
}
.Pheader div a:hover{
    transition: all 0.5s;
    opacity: 0.8;
    text-decoration: underline;
}

/*===================
    Phone header
====================*/

.Pheader2{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: var(--color2);
    color: white;
    z-index: 3;
}
.Pheader2 div i{
    font-size: 30px;
    cursor: pointer;
}

/*===================
    Nav bar
====================*/

.hidden{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 30%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000d7;
    z-index: 4;
    transform: translateY(-60vh);
    transition: all 0.5s;
}

.hidden a{
    color: white;
    margin: 10px 0;
    font-size: 20px;
    width: 40%;
    text-align: center;
    border-left: 5px solid grey;
}

.hidden i{
    color: white;
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

/*===================
    Home
====================*/

.main{
    height: 70vh;
    color: white;
    background:black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.main h1{
    margin-bottom: 10px;
}
.main h3{
    margin: 10px;
}
.icons{
    padding-left: 30px;
}
.icons a{
    color: rgb(214, 208, 208);
    font-size: 23px;
    margin: 5px;
}
.icons a:hover{
    transition: all 0.5s;
    color: white;
}

/*===================
    manu
====================*/

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid grey;
    width: 40%;
    margin: 20px;
}
.card h1{
    font-family: 'Miniver', cursive;
    font-size: 35px;
    margin-bottom: 30px;
    color: #272626;
}
.card h3{
   font-size: 20px;
   color: #494949;
}

/*===================
    Location
====================*/
.loc{
    display: flex;
    justify-content: center;
    align-items: center;
}
.iframe{
    width:800px;
    height:300px;
}
.tb{
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    border-collapse: collapse;
    width: 50%;
}
thead{
    text-align: center;
    font-weight: bold;
}
td{
    padding: 10px;
}

/*===================
    Contact
====================*/
.contact{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    color: white;
}
.c-card{
    width: 40%;
    border-left: 5px solid grey;
    text-align: center;
}
.c-card h1{
    font-size: 30px;
}
.c-card h3{
    padding-left: 20px;
    color: rgb(224, 221, 221);
    margin: 5px;
    font-size: 25px;
}

/*===================
    footer
====================*/

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
footer i{
    color:black;
    font-size: 20px;
}
footer div a{
    margin: 0 5px;
}

@media (max-width:660px) {

    /*===================
    Phone-pc header
    ====================*/

    .Pheader{
        display: none;
    }
    .Pheader2{
        display: flex;
    }

    /*===================
    Main img
    ====================*/

    .main{
        justify-content: center;
        padding-top: 20px;
        height: 65vh;
    }
    .main img{
        width: 200px;
        position: relative;
        bottom: 50px;
    }

    /*===================
    location
    ====================*/

    .iframe{
        width: 400px;
        height: 200px;
    }

    .main h1{
        margin-top: 50px;
    }

    .c-card{
        width: 80%;
    }

    table{
        width: 80%;
    }
}